
.bestSelling{
    width: 100%;
    border: 3px solid  transparent;
    padding-top: 5.4375rem;
    text-align: center;
}

.bestSelling h1{
    font-size: 3.75rem;
    font-weight: 600;
    color: #94618E;
    line-height: 4.0625rem;
}
.bestSelling p{
    font-size: 1.5rem;
    color: #a07b9c;
}

.embla{
    overflow: hidden;
    background-color: transparent;
    margin-top: 2.5rem;
    margin-bottom: .625rem;
}

.embla__container {
    display: flex;
    background-color: transparent;
  }

  .embla__slide{
        display: flex;  
        flex-direction: column;
        margin-right: 87px;
  }
  .imageDiv{
    width: 341px;
    height: 393px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;
  }

  .cardImage{
    width: 400px;
    height: 500px;

    &:hover{
      transform: scale(1.03 );
    }
  }

  .cardText{
    width: 310px;

    
  }
  .cardText h1 {
    font-size: 1.5625rem;
    color: black;
    
  }
 .cardText p{
  font-size: 1.5625rem;
  color: black;
  white-space: pre;
 }

 .priceTags{
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .star{
  display: inline-block;
   margin-top: -0.375rem;
 }

 .bestSelling button{
  background-color: transparent;
  border: 2px solid #b76aae;
  width: 257px;
  height: 50px;
  font-size: 27px;
  color: #94618E;
  border-radius: .625rem;
  margin-top: 2.6875rem;
  margin-bottom: 68px;
  &:hover{
    background-color: #94618E;
    color: white;
  }
  
 }